Source: @@APP_NAME@@
Section: devel
Priority: optional
Maintainer: Gildas Cuisinier
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Version: 1.0.0

Package: @@APP_NAME@@
Architecture: all
Depends: daemon, adduser, java6-sdk
Description: @@APP_NAME@@ @@APP_APPVERSION@@  powered by Apache Tomcat @@APP_TOMCATVERSION@@
