Source: @@SKEL_APP@@
Section: devel
Priority: optional
Maintainer: Henri Gomez
Homepage: https://github.com/hgomez/devops-incubator

Package: @@SKEL_APP@@
Architecture: all
Depends: java6-runtime, daemon, adduser
Suggests: java6-runtime-headless
Description: @@SKEL_APP@@ @@SKEL_APPVERSION@@  powered by Apache Tomcat @@SKEL_TOMCATVERSION@@
