Source: @@GITBLIT_APP@@
Section: devel
Priority: optional
Maintainer: Gildas Cuisinier
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Version: 1.0.0

Package: @@GITBLIT_APP@@
Architecture: all
Depends: daemon, adduser, java6-sdk
Description: @@GITBLIT_APP@@ @@GITBLIT_APPVERSION@@  powered by Apache Tomcat @@GITBLIT_TOMCATVERSION@@
